::-webkit-scrollbar {
    display: none;
}


html,
body {
  margin: 0px;
  height: 100%;
}

#page1{
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/sky2.jpg);
    background-position: center;
    background-size: contain;
    flex-direction: column;
    /* background-color: black; */
    background-attachment: fixed;
    
}


#innerdiv{
    text-align: center;
}

#hw{
    color:#a40843;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#name{
    margin-top: -22px;
    font-size: 40px;
    font-weight: 800;
    color: white;
}

#hobbies{
    margin-top: -30px;
    font-size: 12px;
    color:aliceblue;
    margin-left: 30px;
}

#page2{
    height:100%;
    width:100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/sky7.jpg);
    background-position: center;
    background-size: contain;
}

#image{
    height: 200px;
   width: 200px;
   border-radius: 50%;
}

#about{
    margin-left: 20px;
    width:600px;
    color:white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background-color: #364d5b ;
    opacity: 0.7;
}

#aboutme{
    font-size: large;
    font-weight: 900;
}

.horizontal-list{
    list-style: none;
    padding:0px;
    margin-top: 0px;
}

.horizontal-list li{
    display:inline-block;
    margin-left:20px;
    font-size: 30px;
    margin-top: 20px;
}

.horizontal-list li a{
    color:white;
    text-decoration: none;
}

.horizontal-list li a:hover{
    border-bottom: 2px white solid;
    font-weight:900;
    color:pink;
    transition: color 1s;
}